## LABEL ENCODING

Label encoding is used when order and rank doesn't matter*

 For example, if we have a categorical variable "color" with three possible values (red, green, blue), we can represent it using label encoding as follows:

1. Red: 1
2. Green: 2
3. Blue: 3

In [19]:
 import pandas as pd

In [20]:
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [21]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()
lbl_encoder.fit_transform(df[['color']])

In [22]:
lbl_encoded = lbl_encoder.fit_transform(df[['color']])  ##fit and transform
df_encoded = pd.DataFrame(lbl_encoded,columns=['encoded_value'])  ##convering to dataframe
df_encoded.head()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   encoded_value
0              2
1              0
2              1
3              1
4              2

In [25]:
df_new = pd.concat([df,df_encoded],axis = 1)
df_new.head()

   color  encoded_value
0    red              2
1   blue              0
2  green              1
3  green              1
4    red              2

In [7]:
## for new value
lbl_encoder.transform([['red']])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2])

## ORDINAL ENCODING

Used when order and rank matters*

For example, if we have a categorical variable "education level" with four possible values (high school, college, graduate, post-graduate), we can represent it using ordinal encoding as follows:

1. High school: 1
2. College: 2
3. Graduate: 3
4. Post-graduate: 4

In [27]:
df = pd.DataFrame({
    'education level' : ['high school','college','post graduate','graduate','college','high school']
})
df

  education level
0     high school
1         college
2   post graduate
3        graduate
4         college
5     high school

In [28]:
from sklearn.preprocessing import OrdinalEncoder

In [30]:
encoder = OrdinalEncoder(categories=[['high school','college','graduate','post graduate']])
encoder.fit_transform(df[['education level']])

array([[0.],
       [1.],
       [3.],
       [2.],
       [1.],
       [0.]])

In [31]:
## for a new value
encoder.transform([['college']])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[1.]])